/* ----- Color Scheme ----- */

/*
#E7D9B0 - Cookies and Cream
#F5EFD1 - Eggshell
#1EAFAA - Light Sea Green
#056994 - Sea Blue
*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ----- Body ----- */
body {
    font-family: 'Spartan', sans-serif;
    /* background-color: #F5EFD1; maybe come back to this color */
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #1EAFAA;
    box-shadow: 5px 5px 5px #1EAFAA;
}

/* ----- Anchors ----- */
a {
    text-decoration: none;
    color: #056994;
}

a:visited {
    color: #056994;
}

/* ----- Headers ----- */
h1, h2, h3 {
    text-align: center;
    margin: 2rem 0;
    color: #056994;
}

/* ----- Nav Menu ----- */

/* Mobile Nav Rules */
@media only screen and (max-width: 800px) {
    nav {
        color: #056994;
        width: 100%;
    }
    
    nav ul {
        display: block;
        list-style-type: none;
    }

    nav ul li {
        background-color: #E7D9B0;
        margin: .5rem;
        padding: .5rem;
        border: 1px solid #056994;
        text-align: center;
        border-radius: 20px;
    }
}

/* Desktop Nav Rules */
@media only screen and (min-width: 801px) {
    nav {
        color: #056994;
        background-color: #E7D9B0;
        width: 100%;
        /* position: fixed; maybe come back to this later */
    }

    nav ul {
        display: flex;
        list-style-type: none;
    }
    nav ul li {
        margin: 0 1rem 0 0;
        padding: 2rem 0;
    }
    nav ul li:hover {
        background-color: #056994;
        transition: .75s;
    }
    nav ul li a {
        padding: 2rem;
    }

    nav ul li a:hover {
        color: #E7D9B0;
        transition: .75s;
    }
}

/* ----- Main Content ----- */
main {
    padding: 2rem;
    background: linear-gradient(#F5EFD1, white, #F5EFD1)
}

/* ----- Paragraphs ----- */
p {
    margin: 3rem;
}

/* ----- Images ----- */
img {
    margin: 1rem;
}

#homeImage {
    text-align: center;
}

/* ----- Destinations -----*/
#destinationsList {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.destinationTile {
    background-color: #F5EFD1;
    border: 1px solid #1EAFAA;
    border-radius: 5px;
    margin: 1rem;
}

figure img {
    height: 160px;
    width: 240px;
}

figcaption {
    text-align: center;
    margin-bottom: 1rem;
}

/* ----- Explore ----- */
iframe {
    width: 100%;
    height: 30rem;
}

/* ----- Packages ----- */
#packages {
    text-align: center;
    flex-wrap: wrap;
}

#packages img {
    height: 15rem;
}

/* ----- Footer ----- */
footer {
    text-align: center;
    color: #056994;
    background-color: #E7D9B0;
    padding: 1rem 0;
    width: 100%;
}

footer p {
    font-size: x-small;
    margin: 0;
    padding: 0;
}